<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>
<form action="/add-user" method="post">
    <input type="text" name="userName" id="username" placeholder="Enter you name">
    <button type="submit">Add new user</button>
</form>
<%- include('includes/footer.ejs') %>